<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hrm.wyg.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="hrm.wyg.domain.RolePermission">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
    </resultMap>
    <insert id="batchInsert">
        insert into t_role_permission (role_id,permission_id) values
        <foreach collection="permissionIds" item="p" separator=",">
            (#{roleId},#{p})
        </foreach>
    </insert>

</mapper>
